GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://SEU-DOMINIO/api/auth/callback
GITHUB_ALLOWED_LOGIN=otavio-dias-leite
GITHUB_OWNER=otavio-dias-leite
GITHUB_REPO=blog
GITHUB_BRANCH=main
SESSION_SECRET=gere-um-segredo-aleatorio-com-no-minimo-32-caracteres
